.container {
  position: relative;
  float: right;
  margin-top: 16px;
  margin-right: 10px;
  > input {
    height: 32px;
    width: 200px;
    line-height: 32px;
    outline: none;
    background-color: rgba(#FFF, 0.8);
    border: 1px solid #EEE;
    padding: 5px 3px 3px 35px;
  }
  > :global(.glyphicon) {
    pointer-events: none;
    position: absolute;
    padding: 9.4px;
    left: 3px;
  }

  @media only screen and (max-width: 480px) {
    float: left;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 10px;
  }
}
