body {
  margin: 0;
}

:global {
  #root {
    margin-top: 120px;
    padding-top: 4px;
  }
  .loadingBar {
    z-index: 1032;
    position: fixed;
    top: 0;
    height: 4px;
    background-color: #9c27b0;
  }
}
