.memberItemBox {
  display: flex;
  justify-content: space-between;
  padding: 5px 5px 5px 5px;
}

.txtCol {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  font-size: 1.5rem;
  &>p {
    margin: 0;
  }
}

.btnCol {
}

.btn {
  // border: 1px solid black;
  border: none;
  padding: 5px 8px;
  outline: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
