.box {
  width: 50%;
  min-width: 300px;
  legend {
    margin-bottom: 10px;
  }
  &>p {
    margin-top: 10px;
    text-align: center;
    color: #ee3838;
  }
  .content {
    padding: 0 5px;
    &>button {
      margin-top: 15px;
    }
  }
}
