// compileCompressed: ./$1.css

.loadingBox {
  z-index: 5;
  height: 100%;
  width: 101%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(#ffffff, 0.5);
  color: black;
  position: absolute;
  left: 0;
  top: 0;
}
